// color schms
$ligt-green-color:#7ed56f;
$dark-green-color:#1c8a09c9;
$dark-gray-color:#777;
$color-white:#fff;
$color-black:#000;
// end color schms

// font-family
$font-family: "Lato", sans-serif;
// end font-family