.btn{

    &:link,
    &:visited{
        text-transform: uppercase;
        padding:2rem 4rem;
        text-decoration: none;
        border-radius: 5rem;
        font-weight: 700;
        display: inline-block;
        transition: all 0.3s;
        position: relative;

    }
    &:hover{
        transform: translateY(-.3rem);
        box-shadow: 0rem 1rem 2rem rgba($color-black,0.4);

        &::after{
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }

    }
    &:active{
        transform:translateY(-.1rem);
        box-shadow: 0rem .5rem 1rem rgba($color-black,0.4);
    }
    &--white{
        background:$color-white;
        color:$dark-gray-color;

        &::after{
            background:$color-white;
            
        }
    }
    &::after{
        content: "";
        display: inline-block;
        width: 100%;
        height: 100%;
        border-radius: 5rem;
        position: absolute;
        top:0;
        left: 0;
        z-index: -1;
        transition: all 0.4s;

    }

}

.btn-text{
    &:link,
    &:visited{
        font-size: $default-font-size;
        color:$dark-green-color;
        padding:3px;
        display: inline-block;
        border-bottom: 1px solid $dark-green-color;
        text-decoration: none;
    }

    &:hover{
        background:$dark-green-color;
        color:$color-white;
        box-shadow: 0rem 1rem 2rem rgba($color-black,0.4);
        transform: translateY(-2px) ;
    }

    &:visited{
        box-shadow: .5rem 1.5rem 2.5rem rgba($color-black,0.4);
        transform: translateX(0px);
    }
}