.header{
    height: 95vh;
    background:linear-gradient(to right bottom, #{$dark-green-color}, #{$light-green-color}), url('../img/hero.jpg');
    background-size: cover;
    background-position: top;

    -webkit-clip-path:polygon(0 0, 100% 0, 100% 75vh, 100% 0);
    clip-path: polygon(0 0, 100% 0, 100% 75vh,  0 100%);
    position: relative;

    &__logo-box{
        position:absolute;
        top:4rem;
        left:4rem;
        animation-name:logoAnimate;
        animation-duration: 1s;
    }

    &__logo{
        width:70px;
    }
    
    &__text-box{
        position: absolute;
        top:40%;
        left:50%;
        transform:translate(-50%, -50%);
        text-align: center;
    }

}